<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Nihar Desai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Welcome to Nihar's Website</h1>
        <nav>
            <a href="/">Home</a>
        <h2>My CV</h2>
        <iframe 
            src="{{ url_for('static', filename='cv.pdf') }}" 
            width="110%" 
            height="600px" 
            style="border: none;">
        </iframe>
    </section>
    <footer>
        <p>© 2025 Nihar Desai. All rights reserved.</p>
    </footer>
    
</body>
</html>
