<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nihar Desai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Welcome to Nihar's Website</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/cv">CV</a>
            <a href="/talks">Talks</a>
        </nav>        
    </header>
    <section>
        <h2>About Me</h2>
        <p>I am a Program Lead heading the Speech and GenAI Program at ARTPARK.</p>
    </section>
    <footer>
        <p>© 2025 Nihar Desai. All rights reserved.</p>
    </footer>
    
</body>
</html>
